<% w = Date.today.strftime("%A") %>
<% x = Date.today.strftime("%B") %>
<% y = Date.today.strftime("%d") %>
<% z = Date.today.strftime("%Y") %>

<h1>The date is</h1>

<p><%= w %>, <%= x %> <%= y %>, <%= z %></p>


